.parallax-window {
  min-height: 600px;
  background: transparent;
  padding: 70px 0;
}
p {
  font-size: 30px;
  color: #fff;
  width: 30%;
  text-align: center;
  /* background-color: brown; */
  opacity: 0.9;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
}
p.p2 {
  text-align: center;
}
