* {
    box-sizing: border-box;
    font-family: 'Noto Serif JP';font-size: 20px;
  }
  
  .flex-container {
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
    height: 500px;
  }
  
  .flex-item-left {
    background-color: purple;
    padding: 10px;
    flex: 20%;
    /*height: 500px;*/
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 40%;
  }
  .kanji{
    font-size: 40px;
  }
  .input{
    width: 40%;
  }
  
  .flex-item-last {
    background-color: pink;
    padding: 10px;
    flex: 40%;
  }
  
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media (max-width: 800px) {
    .flex-container{
        margin-top: 0px;
    }
    .flex-item-right, .flex-item-left, .flex-item-last {
      flex: 100%;
  
    }
  }